RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]*)$ /index.php?ctrl=$1&act=All [L,QSA]
RewriteRule ^([^/]*)/([^/]*)$ /index.php?ctrl=$1&act=One&id=$2 [L,QSA]
#RewriteRule ^([^/]*)$ /index.php?ctrl=$1&act=Add [L,QSA]